title
{
    background-color:white;
}

body
{
    background-color:black;
    font-family:Verdana, Arial, sans-serif;
}
h1 {
    margin: auto;
    background-color: dodgerblue;
    color: gold;
    text-align: center;
    align-content: center;
    font-size: 40px;
    width: fit-content;
    margin-bottom: 15px;
    padding-block-end: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

h2 {
    text-align: center;
    align-content: center;
    font-size: 30px;
}

p {
    background-color: white;
    color: black;
    margin: auto;
    font-size: 14px;
    width: 75%;
    text-align: center;
    height: fit-content;
}
.container
{
    text-align: center;
    align-content: center;
    margin: auto;
    width: 75%;
    background-color: lightgoldenrodyellow;
}
.lists {
    display: inline-block;
    text-align: left;
}

.header-images
{
    margin: auto;
  margin-bottom:15px;

}
.info {
    text-align: center;
    align-content: center;
    margin: auto;
    width: 75%;
    background-color: lightgoldenrodyellow;
    padding-bottom: 100px;
}
.footer {
    background-color: white;
    margin: auto;
    width: 75%;
    text-align: center;
}
.navigation 
{
    background-color: white;
    margin: auto;
    width: 75%;
    text-align: center;
}
.citation-1
{
    
    color: white;
    position: absolute;
    bottom: 580px;
    right: 320px;
}
.citation-2
{
    color: white;
    position: absolute;
    bottom: 580px;
    right: 630px;
}
.citation-3
{
    color: black;
    position: absolute;
    bottom: 580px;
    right: 1040px;
}
.citation-4
{
    color: black;
    position: absolute;
    bottom: 580px;
    right: 1340px;
}
.album-1
{
    color: white;
    position: absolute;
    bottom: 580px;
    right: 420px;
}

.album-2
{
    color: black;
    position: absolute;
    bottom: 580px;
    right: 880px;
}

.album-3
{
    color: white;
    position: absolute;
    bottom: 580px;
    right: 1420px;
}
#btn {
    display: inline-block;
    background-color: dodgerblue;
    padding: 20px;
    width: 200px;
    color: lightgoldenrodyellow;
    text-align: center;
    border: 4px double #cccccc;
    border-radius: 10px;
    font-size: 28px;
}

#img {
    height: 300px;
    width: 300px;
    padding-right: 90px;
    padding-left: 110px;
}